<div>

    <form class="cat">
        <input type="checkbox" name="wave" id="wave" />
        <label for="wave">Wave</label>

        <input type="checkbox" name="kick" id="kick" />
        <label for="kick">Kick</label>

        <div class="cat-arm cat-arm__right"></div>
        <div class="cat-arm cat-arm__left"></div>
        <div class="cat-leg cat-leg__right"></div>

        <div class="yarn-container">
            <div class="yarn"></div>
        </div>
    </form>
    <div class="linkWrapper">
        <a class="l3" routerLink="/">Get back</a>
    </div>
</div>