<div>
    <div class="card">
        <div class="imgBox">
            <div class="bark"></div>
            <img src="../../../assets/images/vosmoe-marta-526.jpg">
        </div>
        <div class="details">
            <h2 class="color1">Спешу поздравить с 8 марта!!!</h2>
            <h3 class="color2 margin">очаровательную,</h3>
            <h3 class="color2 margin">обаятельную </h3>
            <h3 class="color2 marginBottom">и прекрасную девушку!</h3>
            <p class="marginTop">Дорогая Елена,</p>
            <p>Пусть праздник весны</p>
            <p>придет со своим лучшим подарком</p>
            <p>в виде отличного настроения,</p>
            <p>счастья и душевного подъема.</p>
            <p class="text-right">С 8-м марта, Елена!</p>
            <p class="text-right">Виталик ^_^</p>
        </div>
    </div>
    <div class="linkWrapper">
        <a class="l3" routerLink="/cat">Play with a cat</a>
    </div>
</div>